
.footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.app {
  min-height: 100vh;
  padding-bottom: 117px;
  position: relative;
  box-sizing: border-box;
}

.main {
  display: flex;
  justify-content: center;
}