body, h1, h2, h3, p {
  margin: 0;
  font-family: "ComicSans" ;
}

@font-face {
font-family: "ComicSans";  
src: url("./fonts/Comic\ Sans\ MS.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal;
}